<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-images-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Images
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-images-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Images</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="categories-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="categories-link">
                <a href="{% url 'products' %}?category=sky_sunsets" class="dropdown-item">Sky &amp; Sunsets</a>
                <a href="{% url 'products' %}?category=beaches" class="dropdown-item">Beaches</a>
                <a href="{% url 'products' %}?category=architechture" class="dropdown-item">Architechture</a>
                <a href="{% url 'products' %}?category=landscapes" class="dropdown-item">Landscapes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=latest_images" class="dropdown-item">Latest Images</a>
                <a href="{% url 'products' %}?category=special_offers" class="dropdown-item">Special Offers</a>
                <a href="{% url 'products' %}?category=latest_images,special_offers" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>